html.no-js {

  div.login_signup_box, div#alchemy_greeting h1 {
    display: none;
  }
}

#login_container {
  height: 100%;
  text-align: center;
  white-space: nowrap;
  margin-top: -80px;

  // vertical center
  &:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em; /* Adjusts for spacing */
  }
}

#login_box {
  display: inline-block;
  text-align: left;
  width: 410px;
  margin: 0 auto;
  vertical-align: middle;

  .message {
    margin-left: 143px;
  }
}

div#alchemy_greeting {
  padding: 0px 2*$default-padding 2*$default-padding 158px;
}
