.bundle/
log/*.log
pkg/
spec/dummy/config/initializers/devise.rb
spec/dummy/db/*.sqlite3
spec/dummy/db/*.sqlite3-*
spec/dummy/log/*.log
spec/dummy/tmp/
spec/dummy/.sass-cache
spec/dummy/.browserslistrc
spec/dummy/app/assets/stylesheets/alchemy/
spec/dummy/app/javascript/
spec/dummy/app/views/alchemy/elements/
spec/dummy/app/views/layouts/
spec/dummy/babel.config.js
spec/dummy/bin/webpack
spec/dummy/bin/webpack-dev-server
spec/dummy/config/alchemy/config.yml
spec/dummy/config/alchemy/elements.yml
spec/dummy/config/alchemy/menus.yml
spec/dummy/config/alchemy/page_layouts.yml
spec/dummy/config/initializers/dragonfly.rb
spec/dummy/config/locales/alchemy.en.yml
spec/dummy/config/webpack/
spec/dummy/config/webpacker.yml
spec/dummy/node_modules/
spec/dummy/package.json
spec/dummy/postcss.config.js
spec/dummy/vendor/assets/stylesheets/
spec/dummy/app/assets/stylesheets/application.css
spec/dummy/yarn.lock
spec/dummy/db/migrate/
spec/dummy/db/schema.rb
spec/dummy/public/alchemy-packs/
spec/dummy/public/packs-test
Gemfile.lock
/coverage/
/rdoc/
.ruby-*
