language: ruby
sudo: false
cache: bundler
rvm:
  - 2.1
  - 2.2
  - 2.3.0
branches:
  only:
    - master
before_install:
  - gem install bundler
before_script: 'bundle exec rake alchemy:spec:prepare'
script: 'bundle exec rspec'
env:
  - DB=mysql
  - DB=postgresql
