language: ruby
dist: trusty
sudo: false
cache: bundler
rvm:
  - 2.5.5
  - 2.6.3
branches:
  only:
    - master
before_install:
  - gem install bundler
before_script: bundle exec rake alchemy:spec:prepare
script: bundle exec rspec
after_success: bundle exec codeclimate-test-reporter
env:
  - DB=mysql
  - DB=postgresql
