#logo {
  width: 240px;
  height: 70px;
  margin: 0 0 1em 187px;
}

.login_signup_box {
  position: absolute;
  width: 450px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .no-js & {
    display: none;
  }

  .message {
    margin-left: 157px;
  }
}
