body.user_sessions,
body.passwords {
  background-color: $main-menu-bg-color;
  color: $white;

  a {
    color: $white;
  }

  #errors,
  .message.info {
    border-color: transparent;
  }

  #errors {
    margin-left: 157px;
  }
}

#logo {
  width: 275px;
  height: auto;
  margin: 0 0 1em 164px;
}

.login_signup_box {
  position: absolute;
  width: 450px;
  top: 50%;
  left: 50%;
  transform: translate(-60%, -50%);

  .no-js & {
    display: none;
  }

  .message {
    margin-left: 157px;
  }

  .link {
    text-align: right;
  }

  button.secondary {
    color: $white;
    border-color: $white;
  }
}
