body.user_sessions,
body.passwords {
  background-color: var(--color-blue_dark);
  color: var(--color-white);

  a {
    color: var(--color-white);
  }

  #errors,
  .message.info {
    border-color: transparent;
  }

  #errors {
    margin-left: 157px;
  }
}

#logo {
  width: 275px;
  height: auto;
  margin: 0 0 1em 164px;
}

.login_signup_box {
  position: absolute;
  width: 450px;
  top: 50%;
  left: 50%;
  transform: translate(-60%, -50%);
  --form-field-label-color: var(--color-white);
  --button-secondary-bg-color: var(--color-blue_dark);
  --button-secondary-hover-bg-color: var(--color-blue_medium);

  .no-js & {
    display: none;
  }

  .message {
    margin-left: 157px;
  }

  .link {
    text-align: right;
  }

  button.secondary {
    color: var(--color-white);
    border-color: var(--color-white);
  }
}
